.process-slider {
    position: relative;
    width: 95%;
    max-width: 600px;
    overflow: hidden;
    text-align: center;
    height: auto;
    border:1px solid black;
    margin-top:-50px;
    z-index:100
  }
  
  .process-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    position: relative;
  }
  
  .process-slide {
    display: none;
    width: 80%;
    transition: opacity 0.4s ease-in-out;
    border: 2px solid blue;
    border-radius:50%;
  }
  .process-slide.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
  }
  
  .process-slide.hidden {
    opacity: 0;
  }
  
  
  
  
  
  .process-slide>p {
    margin-top:20px;
    font-size: 16px;
    max-width: 90%;
  }
  .process-slide>h1 {
    font-size: 30px;
    font-weight:bold;
    color:black;
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s ease;
  }
  
  .arrow.left {
    left: 2px;
  }
  
  .arrow.right {
    right: 2px;
  }
  
  .arrow:hover {
    color: #007bff;
  }
  